# Entorno y secretos
.env
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
impa/

# Wagtail / Django
/media/
/static/
*.log
local_settings.py

# Backup / respaldo (no subir al repo)
bkp-site/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
